.light{
    --color-1: #fff;
    --color-2: #f6f6f6;
    --color-3: #999494;
    --color-4: #e1e1e1;
    --color-5: #d0d0d0;
    --color-6: #4a4848;
    --color-7: #000;
    --color-8: #8a8a8a;
    --color-9:rgba(99,99,99,1);
    --color-10: rgb(161, 161, 161);
    

}

.dark{
    --color-1: #111;
    --color-2: #333;
    --color-3: #555;
    --color-4: #777;
    --color-5: #999;
    --color-6: #eee;
    --color-7: #fff;
    --color-8: #808080;
    --color-9: rgb(161, 161, 161);
    --color-10:rgba(99,99,99,1);
}

@keyframes show {
    0%   {  opacity:0;}
    25%  {  opacity:0.25;}
    50%  {  opacity:0.5;}
    75%  {  opacity:0.75;}
    100% {  opacity:1;}
}

.fade{
    animation-name: show;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.form-control::-webkit-input-placeholder { /* Edge */
    font-family: Cairo;
    color: var(--color-5);
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Cairo;
    color: var(--color-5);
  }
  
  .form-control::placeholder {
    font-family: Cairo;
    color: var(--color-5);
  }


body{
    font-family: Cairo;
    background: var(--color-1);

}

select{
    background-color: var(--color-3);
    color:var(--color-5);
    border:solid 1px var(--color-4);
}

option{
    background-color: var(--color-3);
    color:var(--color-9);
    border:solid 1px var(--color-4);
}


.test{
background-color: var(--color-8);
color: var(--color-6);
}

.modal-content{

    background-color: var(--color-3);
    color:var(--color-5);
    border:solid 1px var(--color-4);
}


.map {
    height: 200px;
    width: 200px;
    
}


.navbar-brand{
     font-family: 'Lobster', cursive;
}

.toast{
    background: var(--color-10);
    color: var(--color-6);
    border:solid 1px var(--color-6);
   
}
li .active{
 
    text-shadow: 2px 2px 2px var(--color-1);
   
}

.form-control {

    background-color: var(--color-3);
    color:var(--color-6);
    border:solid 1px var(--color-4);
}

h1,
h2,
h3,
h4,
h5{
    color: var(--color-6);
}

input[type=text]:focus {
    background-color: var(--color-3);
    color:var(--color-6);
    border:solid var(--color-6) 0.5px;
}

#content{
    border-radius: 5px;
    background-color: var(--color-3);
    color: var(--color-6);
    border:solid 1px var(--color-4);
}

.container{
    border-left-style: solid 1px var(--color-4); 
    border-right-style: solid 1px var(--color-4);
    background:var(--color-2); 
    color: var(--color-7);
}

.btn-light{

    background: var(--color-6);
    color:var(--color-2);
    border:solid 1px var(--color-4);

}

.input-group-text{
    background: var(--color-5);
    color:var(--color-6);
    border:solid 1px var(--color-4);
}


.card{

    border:solid 1px var(--color-4);
}


.card-header{
    background: var(--color-2);
    color: var(--color-4);
}

.card-link{

    color :var(--color-5);
}

.card-link:active{
    color :var(--color-6);
}


.card-body{
    color: var(--color-6);
    background: var(--color-3);
 
}



.grow{
    animation: grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

}

.card-link:hover{
    color:var(--color-6);
}


.card-header:hover{
    animation: shake;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}


@keyframes growY {
    0%   { transform: scaleY(2);}
    20%  { transform: scaleY(4);}
    40%  { transform: scaleY(6);}
    60%  { transform: scaleY(8);}
    80% { transform: scaleY(10);}
    100%  { transform: scaleY(12);}
}

@keyframes up {
/*matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())*/

0%   { transform: matrix(1,0,0,1,0,-1);}
20%  { transform: matrix(1,0,0,3,0,-3);}
40%  { transform: matrix(1,0,0,6,0,-6);}
60%  { transform: matrix(1,0,0,9,0,-9);}
80%  { transform: matrix(1,0,0,12,0,-12);}
100% { transform: matrix(1,0,0,15,0,-15);}

}

@keyframes rotato {
    
    0%   { transform:rotate(0deg) ;}
    20%  { transform:rotate(60deg) ;}
    40%  { transform:rotate(120deg) ;}
    60%  { transform:rotate(180deg) ;}
    80%  { transform:rotate(240deg) ;}
    100% { transform:rotate(300deg) ;}
    
}


@keyframes rotation2D {

    0%   { transform: rotate(0deg);}
    25%  { transform: rotate(90deg);}
    50%  { transform: rotate(180deg);}
    75%  { transform: rotate(270deg);}
    100% { transform: rotate(360deg);}
}

@keyframes scaleUp {

    0%   { transform:scale(0,0);}
    10%  { transform:scale(0.1,0.1);}
    20%  { transform:scale(0.2,0.2); }
    30%  { transform:scale(0.3,0.3); }
    40% {transform:scale(0.4,0.4); }
    50% {transform:scale(0.5,0.5); }
    60% {transform:scale(0.6,0.6); }
    70% {transform:scale(0.7,0.7); }
    80% {transform:scale(0.8,0.8); }
    90% {transform:scale(0.9,0.9); }
    100% {transform:scale(1.1,1.1); }
}

@keyframes shake {

    0%   { transform:translate(0px, 0px);}
    25%  { transform:translate(1px, 0px);}
    50%  { transform:translate(-1px, 0px);}
    75%  { transform:translate(-1px, 0px);}
    100% { transform:translate(0px, 0px);}
   
}


@keyframes grow {

    0%   { transform: scale(1,1);}
    25%  { transform: scale(1.2,1.2);}
    50%  { transform: scale(1,1);}
    75%  { transform: scale(1.2,1.2);}
    100% { transform: scale(1,1);}
}

.rotation{
    transform-box: fill-box;
    transform-origin: center;
    animation: rotato 2s infinite  alternate linear;
}


#handle{
    transform-box: fill-box;
    transform-origin: center;
    animation: up 2s infinite  alternate linear;
}

#sun{
    transform-box: fill-box;
    transform-origin: center;
    animation: rotation2D;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--color-6);
    background-color: var(--color-2);
}


h4{
    margin: 10px;
}

.vl {
  border-left: 1px solid var(--color-3);
  margin: 5px;
  height: 75px;
}

.bar{
    background: var(--color-3);
    width: 50px;
    height: 5px;
    margin: 10px;
}

a{
    margin-left: 10px;
    margin-bottom:5px;
    color: var(--color-8);
}

a:hover{
    color: var(--color-6);
    text-decoration: none;
}
